@mixin Spacer {
  padding-top: 50px;
  padding-bottom: 50px;

  @include Breakpoint('lg') {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@mixin Inner {
  max-width: $grid-container + ($grid-gap * 2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-gap / 2;
  padding-left: $grid-gap / 2;

  @include Breakpoint('xs') {
    padding-right: $grid-gap;
    padding-left: $grid-gap;
  }
}

// Buttons

@mixin Button {
  @include Font_16-28;
  letter-spacing: 1px;
  font-weight: 400;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 3px;
  appearance: none;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
}

@mixin Button_Primary {
  @include Button;
  background-color: $color-accent;
  color: $color-secondary;

  &:hover {
    background-color: $color-secondary;
    color: $color-primary;
  }
}

// Animation

@mixin Animate_Underline {
  position: relative;

  &::after {
    content: '';
    display: block;
    background: $color-accent;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    border-radius: 3px;
    transition: width .3s ease-out;
  }

  &:hover {
    &::after {
      right: 0;
      left: auto;
      width: 0;
    }
  }
}

// Breakpoints

@mixin Breakpoint($breakpoint) {
  @if $breakpoint == 'xs' {
    @media only screen and (min-width: 451px) {
      @content;
    }
  } @else if $breakpoint == 'custom-600' {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == 'xlg' {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  } @else if $breakpoint == 'xxs-viewport' {
    @media only screen and (max-width: 450px) {
      @content;
    }
  } @else if $breakpoint == 'xs-viewport' {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
}

// Fonts

@mixin Font_16-28 {
  font-size: 16px;
  line-height: 28px;
}
