.utl-ScreenReaderOnly {
  font-size: 0;
  height: 0;
  width: 0;
  display: block;
}

.utl-Hidden {
  display: none;
}

.utl-FadeIn {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}

.utl-FadedIn {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.2s;
}
