$grid-container: 1360px;
$grid-gap: 40px;

// Colours

$color-primary: #f6f6f6;
$color-secondary: #3b3a36;
$color-accent: #e05038;
$color-link: #e05038;

// Fonts

// $font-heading: 'CallunaSans-Regular';
// $font-body: 'Calluna-Regular';
