.drw-Drawer {
  @include Spacer;
  width: 450px;
  max-width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 24;
  background-color: $color-secondary;
  display: flex;
  transform: translateX(500px);
  transition: transform .3s ease;
  height: 100%;

  .utl-DrawerActive & {
    transform: translateX(0);
  }
}

.drw-Drawer_Inner {
  @include Inner;
  flex: 1 1 auto;
  display: flex;
}

.drw-Drawer_Close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;

  @include Breakpoint('xs') {
    top: 40px;
    right: 40px;
  }
}

.drw-Drawer_CloseLine {
  width: 30px;
  height: 3px;
  background-color: $color-primary;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transition: background-color .3s ease;
  cursor: pointer;
  outline: none;

  .drw-Drawer_Close:hover & {
    background-color: $color-link;
  }
}

.drw-Drawer_CloseLine-one {
  transform: translate(-50%, -50%) rotate(45deg);
}

.drw-Drawer_CloseLine-two {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.drw-Drawer_Social {
  position: absolute;
  top: 20px;
  left: 20px;

  @include Breakpoint('xs') {
    top: 40px;
    left: 40px;
  }
}

.drw-Drawer_Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
